@import url('https://fonts.googleapis.com/css2?family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap');


/* Colors */

/*
60% of #677F98 - Primary
30% of #676798 - Secondary
10% of #679898 - Accent
*/

:root {

/* var(--primaryColor) !important; */
--primaryColor: #ffffff;

/* var(--secondaryColor) !important; */
--secondaryColor: #1965fc;

/* var(--accentColor) !important; */
--accentColor: #ffffff;

/* var(--fontFamily) !important; */
font-family: "SUSE Mono", sans-serif;

}