<header>
  <!-- begin navbar -->
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0">
          <!-- Home -->
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="index.html">Home</a>
          </li>

          <!-- About -->
          <li class="nav-item">
            <a class="nav-link" href="about-us.html">About Us</a>
          </li>

          <!-- Hardware Guides Dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Hardware & Guides </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="rgb-components.html">RGB Components</a></li>
              <li><a class="dropdown-item" href="keyboards.html">Keyboards & Keycaps</a></li>
              <li><a class="dropdown-item" href="controllers.html">Controllers & Accessories</a></li>

              <li><hr class="dropdown-divider" /></li>

              <li><a class="dropdown-item" href="build-guides.html">PC Build Guides</a></li>
              <li><a class="dropdown-item" href="setup-tutorials.html">Setup Tutorials</a></li>
              <li><a class="dropdown-item" href="lighting-profiles.html">Lighting Profiles & Effects</a></li>
            </ul>
          </li>

          <!-- Suggestions -->
          <li class="nav-item">
            <a class="nav-link" href="hardware-suggestions.html">Hardware Suggestions</a>
          </li>

          <!-- Disabled Example (kept for accessibility demo but renamed) -->
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Coming Soon</a>
          </li>
        </ul>

        <!-- Optional search form (commented out)
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search hardware, guides..." aria-label="Search" />
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        -->
      </div>
    </div>
  </nav>
  <!-- end navbar -->
</header>
